---
Title: "Aktivistáink"
Date: 2019-08-04T15:43:37+02:00
Draft: false
Summary: "Az FSF.hu Alapítvány aktivistáinak névsora"
---
<ul class="fsfhu">
	<li>Bán Szabolcs (Shooby)</li>
	<li>Baráth Gábor (Dincsi)</li>
	<li>Blahota István (Blaho)</li>
	<li>Csepinszky András (Csepi)</li>
	<li>Daczi László (Dacas)</li>
	<li>Erdei Csaba (Szörpi)</li>
	<li>Farkas Szilveszter (Phanatic)</li>
	<li>Gibizer Tibor (Gibzo)</li>
	<li>Gyaraki László</li>
	<li>Légrádi Gábor</li>
	<li>Kadlecsik József</li>
	<li>Kelemen Gábor</li>
	<li>Kiszel Kristóf (ulysses)</li>
	<li>Kovács Emese</li>
	<li>Mátó Péter (atya)</li>
	<li>Meskó Balázs</li>
	<li>Molnár Hajnalka</li>
	<li>Németh László</li>
	<li>Noll János (Johnzero)</li>
	<li>Rózsár Gábor (Muszashi)</li>
	<li>Süveg Gábor (gsuveg)</li>
	<li>Szalai Ferenc</li>
	<li>‎Tímár András</li>
	<li>Torma Hajnalka (Hajni)</li>
	<li>Torma László (toros)</li>
	<li>Úr Balázs</li>
	<li>Varga Csaba Sándor (Guska)</li>
	<li>Zahemszky Gábor (Zahy)</li>
</ul>
