---
Title: "Projektjeink"
Date: 2019-08-04T15:43:37+02:00
Draft: false
Summary: "Az FSF.hu Alapítvány jelenlegi és múltbeli projektjei"
---
<p>
	Amennyiben az alábbi projektek valamelyike felkeltette az érdeklődésed, szeretnél segíteni, vagy többet megtudni, írj nekünk a kapcsolatfelvételi űrlapunkon keresztül!
	Ezen az oldalon az aktuális projektjeinkről olvashatsz.
</p>

<h2>Honosítás</h2>
<hr>
<h3>LibreOffice honosítás</h3>
<p>A projekt célja a többplatformos LibreOffice irodai programcsomag elérhetővé és használhatóvá tétele a magyar anyanyelvű felhasználók számára, beleértve a honosított felhasználói felület, helyesírás-ellenőrző és magyar nyelvű dokumentáció fejlesztését és terjesztését.</p>
<ul class="fsfhu">
	<li><b>A projekt vezetője:</b> <i>Tímár András</i></li>
	<li><b>A projekt honlapja:</b> <a href="https://LibreOffice.hu">libreoffice.hu</a></li>
</ul>

<hr>
<h3>A Mozilla-család honosítása</h3>
<p>E projekt keretében végezzük a Mozilla platformra épülő programok felhasználói felületének és súgójának lefordítását magyarra. Persze nem mindét, mert mostanra rengeteg lett (pl. több ezer kiterjesztés).</p>
<ul class="fsfhu">
	<li><b>Támogatott programok:</b> Firefox (asztali és mobil változatok), Thunderbird, Lightning.</li>
	<li><b>A projekt vezetője:</b> Meskó Balázs</li>
	<li><b>A projekt honlapja:</b> <a href="https://pontoon.mozilla.org/hu">pontoon.mozilla.org</a></li>
</ul>

<hr>
<h3>Ubuntu honosítása</h3>

<p>A projekt célja, hogy a népszerű Ubuntu Linux disztribúció minél teljesebb mértékben elérhető legyen magyarul is. A fordítócsapat rendszeresen szervez fordítóhétvégéket, amelyek során a fordítók együttes erővel hajtanak végre nagyobb méretű fordítási feladatokat, miközben IRC-n megbeszélik a problémákat.</p>
<ul class="fsfhu">
	<li><b>A projekt vezetője:</b> <i>Kelemen Gábor</i></li>
</ul>

<hr>
<h3>GNOME honosítás</h3>
<p>A projekt feladata a GNOME asztali környezet és fejlesztői platform honosítása.</p>
<ul class="fsfhu">
	<li><b>A projekt vezetője:</b> <i>Kelemen Gábor</i></li>
	<li><b>A projekt honlapja:</b> <a href="https://l10n.gnome.org/languages/hu/">l10n.gnome.org</a></li>
</ul>

<hr>
<h3>OpenScope hibajelentő</h3>
<p>
	A projekt célja, hogy a felhasználók bejelenthessék a szabad szoftverekben található fordítási hibákat,
	amelyeket aztán mi a hibakövető rendszerben követni tudunk, ki tudjuk azokat javítani, és tájékoztatni tudjuk a bejelentőket a megoldásról.
</p>
<ul class="fsfhu">
	<!--<li><b>A projekt vezetője:</b> <i></i></li>-->
	<li><b>A projekt honlapja:</b> <a href="http://openscope.org/">openscope.org</a></li>
</ul>

<h2>Népszerűsítés</h2>
<hr>
<h3>Szabad Szoftver Konferencia és Kiállítás</h3>
<p>Az FSF.hu Alapítvány (kisebb kihagyásokkal) éves konferenciája, amelyre minden évben több tucat előadó, és több száz résztvevő érkezik.</p>
<ul class="fsfhu">
	<li>
		<b>Eddigi konferenciák:</b>
		<a href="http://konf.fsf.hu/cgis/ossc/2009/index">2009</a>,
		<a href="http://konf.fsf.hu/cgis/ossc/2011/index">2011</a>,
		<a href="http://konf.fsf.hu/cgis/ossc/2012/index">2012</a>,
		<a href="http://konf.fsf.hu/cgis/ossc/2013/index">2013</a>,
		<a href="http://konf.fsf.hu/cgis/ossc/2015/index">2015</a>,
		<a href="http://konf.fsf.hu/cgis/ossc/2017/index">2017</a>,
		<a href="http://konf.fsf.hu/cgis/ossc/2018/index">2018</a>
	</li>
</ul>

<h2>Fejlesztés</h2>
<hr>
<h3>Magyar nyelvi eszközök</h3>
<p>A <b>Hunspell</b> egy helyesírás-ellenőrző és morfológiai elemző könyvtár és program, amely különösen alkalmas gazdag morfológiájú és bonyolult szóösszetételi szabályokkal rendelkező nyelvekhez – például ilyen nyelv a magyar. 2006-tól a Hunspell az OpenOffice.org, 2008-tól a Mozilla Firefox, Thunderbird és a Google Chrome, 2009-től az Opera böngésző valamint több fordítómemória eszköz, mint a piacvezető SDL Trados és a magyar fejlesztésű MemoQ helyesírás-ellenőrző programja.</p>
<p>A <b>Magyar Ispell</b> helyesírási szótár a Hunspell helyesírás-ellenőrző programhoz készített nyílt forráskódú magyar szótár. Egyedülállóan pontos nyelvtani leírással, lefedettséggel és friss szókinccsel rendelkezik.</p>
<p>A <b>Szabad magyar szinonimaszótár</b> több mint 20 ezer szót tartalmaz és az Unicode karakterkódolásnak köszönhetően több száz jel (görög ábécé, matematikai és egyéb szimbólumok) is kereshetők benne név alapján. A Hunspell segítségével tövezi a keresett szavakat és keresett szó toldalékainak megfelelően toldalékolja a javasolt szinonimákat.</p>
<p>A <b>Lightproof</b> egy nyelvfüggetlen nyelvhelyesség-ellenőrző, ami több száz magyar nyelvre vonatkozó szabályával a leggyakoribb mondatszintű helyesírási hibák javítását teszi lehetővé.</p>
<p>A <b>NUMBERTEXT.org</b> egy nyelvfüggetlen szám-számnév átalakítást lehetővé tevő szabad szoftveres projekt, magyar nyelvi támogatással.</p>
<ul class="fsfhu">
	<li><b>A projekt vezetője:</b> <i>Németh László</i></li>
</ul>

<hr>
<h3>Virtuális szerverfarm Linux/KVM alapon</h3>
<p>Az alapítvány szervere, a <a href="http://barack.fsf.hu/"><i>barack</i></a> jelenleg is több független funkciót lát el, több csoportnak szolgál elsősorban web, ftp és levelezőszerverként. Az NCA 2006-os működési-költség pályázatán sikerült elnyernünk némi támogatást a vas cseréjére.</p>
<p>
	Mivel az új vas (Intel Core2) már támogatta az Intel VT-t, a korábbi, sokszor kényelmetlen chroot-olás helyett a Linux/KVM szabad virtualizációs megoldás mellett döntöttünk. Ezzel az eszközzel kényelmesen szeparálhatók a különböző funkciók, a felhasználók úgy dolgozhatnak egymás mellett, hogy nem okoznak egymásnak problémát.
	A projekt célja a KVM rendszerhez egy olyan jól használható kezelőfelület kialakítása, mely segítségével minden felhasználó láthatja az őt érintő rendszereseményeket, kezelheti a saját virtuális vasát.
</p>
<ul class="fsfhu">
	<li><b>A projekt vezetője:</b> <i>Mátó Péter</i></li>
</ul>

<h2>Archívum</h2>
<hr>
<table class="table table-striped table-compact">
	<thead class="thead-dark">
		<tr>
			<th>Korábbi projektek</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<b>Magyar Szabad Szoftver Tárház /MASZAT/</b><br>
				A projekt célja magyar fejlesztésű szabad szoftverek felmérése és minőségi értékelése.
				Jelenleg az mny2 projekt keretén belül A LIPSZ-szel és ODFA-val közösen a minősítő rendszer kidolgozása folyik.<br>
				<b>A projekt vezetője:</b> <i>Baráth Gábor</i>
			</td>
		</tr>
		<tr>
			<td>
				<b>Ubuntu konferencia</b><br>
				A Szabad Szoftver Konferencia elődje, három évben került megrendezésre, 2006-ban, 2008-ban és 2009-ben.<br>
				<b>A projekt vezetője:</b> <i>Torma László</i>
			</td>
		</tr>
		<tr>
			<td>
				<b>A wxMaxima honosítása</b><br>
				A wxMaxima egy wxWidget-eken alapuló grafikus felhasználói felület a Maxima komputeralgebrai rendszer számára.
				Friss wxMaxima és Maxima csomagot Ubuntuhoz innen lehet letölteni.<br>
				<b>A projekt vezetője:</b> <i>Blahota István</i>
			</td>
		</tr>
		<tr>
			<td>
				<b>A Mozilla Europe weboldalának fordítása</b><br>
				A Mozilla Europe Egyesület a Mozilla-termékek európai jelenlétéért, népszerűsítéséért és honosításáért dolgozott.
				A mozilla-europe.org-on volt található a hivatalos magyar Mozilla-honlap.
				A projekt keretében a honlapon megjelenő programismertetőket és híreket fordítottuk.<br>
				<b>A projekt vezetője:</b> <i>Kéménczy Kálmán</i>
			</td>
		</tr>
		<tr>
			<td>
				<b>LOK konferencia</b><br>
				A 2003 óta futó Linux az oktatásban (<a href="http://lok.hu">LOK</a>) konferenciasorozatot 2005 óta az FSF.hu Alapítvány szervezi.
				A hagyományos, oktatással kapcsolatos témák mellett az utóbbi időben a nem tanár közönség érdeklődésére is számot tartó szabad szoftveres előadásokkal bővült a program.<br>
				<b>Megtartott konferenciák:<b>
				<a href="http://lok.hu/6/2005.html">2005</a>,
				<a href="http://lok.hu/2006/2006.html">2006</a>,
				<a href="http://lok.hu/2007/2007.html">2007</a>,
				<a href="http://lok.hu/2009/2009.html">2009</a>,
				<a href="http://lok.hu/2010/2010.html">2010</a>,
				<a href="http://lok.hu/2012/2012.html">2012</a>,
				<a href="http://lok.hu/index-2013.html">2013</a>,
				<a href="http://lok.hu/">2016</a><br>
				<b>A projekt vezetője:</b> <i>Rózsár Gábor</i>
			</td>
		</tr>
		<!-- FIXME: további régi projektek: http://fsf.hu/projektjeink/korabbi-projektjeink/ -->
	</tbody>
</table>
