---
Title: "Mi a szabad szoftver?"
Date: 2019-08-04T15:43:37+02:00
Draft: false
Summary: "Mi a szabad szoftver?"
---
<p class="lead">Szabad szoftver alatt értünk minden számítógépes programot és dokumentációt, amely kielégíti az alábbi feltételeket:</p>
<ul class="fsfhu">
	<li>A szoftver bármilyen célra felhasználható.</li>
	<li>Lehetőség van a szoftver működésének szabad tanulmányozására és módosítására.</li>
	<li>Szabadon terjeszthető, továbbadható.</li>
	<li>Lehetőség van a szoftver továbbfejlesztésére és a fejlesztés közreadására.</li>
</ul>
<p class="lead">A szoftver tanulmányozásának, módosításának, illetve továbbfejlesztésének előfeltétele a forráskód elérhetősége.</p>
<p>
	A szabad szoftver nem keverendő össze a freeware, shareware vagy public domain szoftverekkel.
	Sajnos a sajtóban nem mindig tesznek határozottan különbséget ezek között a fogalmak között, sokszor nevezik a szabad szoftvereket freeware-nek vagy ingyenes szoftvernek.
</p>
<p>
	A freeware olyan, általában zárt forrású szoftver, amelyet ingyen adnak. Az ingyenes szoftver ennek a szinonimája.
	Hiba a szabad szoftvert ingyenesnek nevezni. Ez a hiba onnan eredhet, hogy az angol “free” szó (free software = szabad szoftver) kettős jelentésű: szabad illetve ingyenes.
	A szabad szoftver fogalmának semelyik meghatározása nem köti ki az ingyenességet. Ez szándékosan van így.
	Bár a legtöbb esetben a szabad szoftvereket „ingyen” letölthetjük az internetről, vagy egy számítástechnikai magazin CD-mellékletén „ingyen” jutunk hozzá,
	a szabad szoftver előállításáért vagy terjesztéséért lehet pénzt kérni, és nem csak jelképes összeget vagy költségtérítést, hanem bármennyit.
</p>
<p>
	Fontos tehát megjegyezni, hogy a szabadságnak és az ingyenességnek semmi köze nincs egymáshoz.
	A szabad szoftver olyan szoftver, amelyet a felhasználók szabadon terjeszthetnek és módosíthatnak.
	Bizonyos felhasználók ingyen jutnak hozzá, mások fizetnek érte – és ha a pénzt a fejlesztésre fordítják, az a legjobb.
	A lényeges dolog az, hogy bárki, aki rendelkezik a szoftver egy példányával, szabadon együttműködhet másokkal, és odaadhatja nekik.
</p>

<h3>Szabad szoftver vagy nyílt forrású szoftver</h3>
<hr>
<p>
	A szabad szoftver mozgalom a szabadságot helyezi működése középpontjába.
	Létezik egy másik csoport is, a nyílt forráskódú mozgalom, akik főként a nyílt forráskódú szoftverfejlesztés technológiai előnyei mellett érvelnek.
	A végeredmémy szempontjából nincs jelentős különbség: a legtöbb nyílt forrású szoftver egyben szabad szoftver is, az elvi hozzáállás viszont eltérő.
	További olvasnivaló:
</p>
<ul class="fsfhu">
  <li><a href="http://www.gnu.org/philosophy/philosophy.hu.html"><b>A szabad szoftver filozófiája</b> (részben magyar)</a></li>
  <li><a href="http://opensource.org/docs/definition.php"><b>A nyílt forráskód definíciója</b> (angol)</a></li>
</ul>
