<!-- Külső hivatkozások kezelése -->
{{ $href := .Get `href` }}
{{ $isExternal := hasPrefix $href "http"}}
{{ $baseUrl := string .Page.Site.BaseURL }}
{{ if not $isExternal }}
  {{ $href := printf $baseUrl $href }}
{{ end }}

<p><a role="button" class="btn btn-lg btn-info" href="{{ $href }}">{{ .Get `label`}}</a></p>
